<!DOCTYPE html>
<html>
<body>

<a href = "createLeague">Create League</a>
<h1>
    Dashboard
</h1>

<p id="test">No result</p>
<p>Leagues:</p>
<p id = "leagues"></p>

<script>
    //on page load
  (async () => {
    await getUsername();
    await getLeagues();
  })();

  async function getUsername(){
    let response = await fetch("/username", {
    method:"POST",
    credentials:"include",
    mode:"cors",
    headers:{"Content-Type": "application/json"}
  })
  response = await response.json()
  document.getElementById("test").innerHTML = response
  }

  async function getLeagues(){
    let response = await fetch("/userLeagues", {
      method:"POST",
    credentials:"include",
    mode:"cors",
    headers:{"Content-Type": "application/json"}
    })
    console.log(response)
    response = await response.json()
    console.log(response)
    document.getElementById("leagues").innerHTML += response
  }
</script>

</body>
</html>