<!DOCTYPE html>
<html>
<body>

<a href = "createLeague">Create League</a>
<a href = "joinLeague">Join League</a>
<h1>
    Dashboard
</h1>

<p>Leagues:</p>
<p id = "leagues"></p>

<script>
    //on page load
  (async () => {
    await getLeagues();
  })();

  //get league id and name a user is in
  async function getLeagues(){
    let response = await fetch("/userLeagues", {
      method:"POST",
    credentials:"include",
    mode:"cors",
    headers:{"Content-Type": "application/json"}
    })
    response = await response.json()
    //check response to see if there are any leagues
    if (response == null){
      document.getElementById("leagues").innerHTML = "You're not in any leagues."
    }
    else {
      for (let i = 0; i < response.length; i++){
      document.getElementById("leagues").innerHTML += `<a href = \"leagueHome/${response[i][0]}\">${response[i][1]}</a>` + "<br/>"
    }
    }
  }
</script>

</body>
</html>