<!DOCTYPE html>
<html>
<body>

<a href="../dashboard">Dashboard</a>

<h1>
    League Home Page
</h1>
<p id="league_name">League Name: </p>
<p id="leauge_size">Size: </p>
<p id="owner">Owner:</p>

<script>
      //on page load
  (async () => {
    await getLeagueInfo();
  })();
  async function getLeagueInfo() {
    let response = await fetch(`/leagueInfo/{{league}}`, {
        method:"POST",
        credentials:"include",
        mode:"cors",
        headers:{"Content-Type": "application/json"}
    })
    response = await response.json()
    document.getElementById("league_name").innerHTML += response[2]
    document.getElementById("leauge_size").innerHTML += response[3]
    document.getElementById("owner").innerHTML += response[1]
  }
</script>
</body>
</html>