<!DOCTYPE html>
<html>
<body>

<a href="../dashboard">Dashboard</a>

<h1>
    League Home Page
</h1>
<p id="league_info">No league info</p>

<script>
      //on page load
  (async () => {
    await getLeagueId();
  })();
  async function getLeagueId() {
    let response = await fetch(`/leagueInfo/{{league}}`, {
        method:"POST",
        credentials:"include",
        mode:"cors",
        headers:{"Content-Type": "application/json"}
    })
    response = await response.json()
    document.getElementById("league_info").innerHTML = response
  }
</script>
</body>
</html>