<!DOCTYPE html>
<html>
<body>

<a href = "/signUp">Sign Up</a>
<h1>Fantasy Football Fee and Payout Manager</h1>
<!--method=post means the form will senda post req to the same dir
make the button in the form type submit to send the form
use id and name as the same for now, should be fine-->
<form method = "post">
    <!--label will create text for an id/name-->
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <br>
    <button type="submit" id="login_button">Login</button>
</form>

<script>
    //on page load
    /**
      (async () => {
        run all things here before loading the page
        useful for functions to fill out variables
      })();
    */
    async function sampleFunc(){
        console.log("sampleFunc")
        let input = document.getElementById("sampleInput").value
        let response = await fetch(`/test/${input}`, {
        method:"POST",
        credentials:"include",
        mode:"cors",
        headers:{"Content-Type": "application/json"}
        })
        response = await response.json()
        document.getElementById("testName").innerHTML = response
    }

</script>

</body>
</html>