<!DOCTYPE html>
<html>
<body>

<a href = "login">Login</a>
<h1>Sign Up</h1>

<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <br>
    <label for="passwordConfirm">Confirm Password:</label>
    <input type="text" id="passwordConfirm" name="passwordConfirm">
    <br>
    <button type="submit" id="login_button">Sign Up</button>
</form>

</body>
</html>